<div class="header-container" [class.scroll-down]="isScrollDown()">
    <div class="header-left">
        <div class="title-container">
            <a class="title-link" href="#aboutme">
                <span class="title">Yiyi Huang</span>
            </a>
        </div>
    </div>

    <div class="header-nav">
        <!-- <a class="nav-link" href="#/#aboutme">About Me</a> -->
        <a class="nav-link" href="#experience">Experience</a>
        <a class="nav-link" href="#projects">Projects</a>
        <a class="nav-link" href="#hobbies">Hobbies</a>
    </div>
</div>