<div>
    <h4 class="title">
        Personal projects
    </h4>

    <div class="project-cards">
        @for (project of projects; track project) {
            <mat-card class="project-card" appearance="outlined" (click)="onCardSelected(project.link)">
                <mat-card-header class="project-card-header">
                    <mat-card-title class="project-card-title">{{project.title}}</mat-card-title>
                    <!-- <svg class="open-link-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"/>
                    </svg> -->
                </mat-card-header>
                <mat-card-content>
                    <p class="project-card-description">{{project.description}}</p>
                </mat-card-content>
                <mat-card-footer class="project-card-footer">
                    <mat-chip-set aria-label="Skills">
                        @for (skill of project.skills; track skill) {
                            <!-- <mat-chip class="project-card-chip">{{skill}}</mat-chip> -->
                            <div class="project-card-chip">{{skill}}</div>
                        }
                    </mat-chip-set>
                </mat-card-footer>
            </mat-card>
        }
    </div>
</div>