.title {
    font-size: 26px;
}

.project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
  max-width: 300px;
  background-color: var(--main-background-color);
  cursor: pointer;

    .project-card-header {
        display: flex;
        justify-content: space-between;

        .project-card-title {
            color: var(--gray-400);
            font-size: 15px;
            font-weight: 500;
        }

        .open-link-icon {
            visibility: hidden;
        }
    }

    .project-card-description {
        color: black;
        font-size: 14px;
    }

    .project-card-footer {
        padding: 16px;

        .project-card-chip {
            cursor: pointer;
            --mdc-chip-label-text-color: #0e0e0e;
            font-size: 14px;
        }
    }
}
.project-card:hover {
    background-color: #f8fafa;
    border-color: var(--gray-400);

    .project-card-header {
        .project-card-title {
            color: var(--link-hover);
        }

        .open-link-icon {
            visibility: visible;

            path {
                fill: var(--link-hover);
            }
        }
    }
}
